@include component('court') {
	position:relative;
	width:100%;
	padding-bottom: 60px;
	padding-top: 60px;
	@include max-screen(768px) {
		padding-top:0;
		padding-bottom:20px;
		width:95%;
		margin: 0 auto;
	}
	@include element('field') {
		width:100%;
		height:auto;
		.is-active &{
		  animation-name: bounceInDown;
			animation-duration: .75s;
			animation-fill-mode: both;
			animation-delay:.5s;
		}
	}
	@include element('shadow') {
		width:100%;
		height:auto;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		margin:0 auto;
		z-index:-1;
		.is-active &{
		  animation-name: bounceInUp;
			animation-duration: .75s;
			animation-fill-mode: both;
			animation-delay:.5s;
		}
	}
}
