@include component('footer') {
	position:fixed;
	bottom:10px;
	left:0;
	width:100%;
	z-index: 1;
	color:$color_text--legal;
	@include element('legal') {
		font-size:10px;
		margin:0;
		line-height:20px;
		display: block;
		float: left;
		width:50%;
		@include max-screen(480px) {
			padding-top:13px;
		}
		span{
			font-size:20px;
			line-height:20px;
			float: left;
			margin-right:5px;
		}
	}
	@include element('brand') {
		// position: fixed;
		// bottom:10px;
		// right: 10px
		float: right;
		width: 100px;
		height:auto;
		display:block;
		@include max-screen(480px) {
			width: 80px;
			margin-top: 10px;
		}
		img{
			width:100%;
			height:auto;

		}

	}
}
