@include component('form') {
	@include element('select') {
		background-color: transparent;
		text-transform:uppercase;
		border:none;
		position: relative;
		border-bottom:solid 1px $color_border;
		border-radius:0;
		font-family:$font_highlight;
		font-size:60px;
		@include modifier('fixed_size') {
				// width:350px;
				// -webkit-transition: all 1s ease;
				// max-width: 146px;
			&.open{
				// width:350px;
				animation-name: animate-width;
				animation-duration: .75s;
				animation-fill-mode: both;
				animation-delay:0;
			}
			&.dropup{
				// width:350px;
				// animation-name: animate-width2;
				// animation-duration: .75s;
				// animation-fill-mode: both;
				// animation-delay:0;
			}
		}
		@include max-screen(768px) {
			font-size:40px;
			display:inline-block;
		}
		@include max-screen(480px) {
			width:100%;
			display:inline-block;
			font-size: 30px;
		}
		&:before{
			content:'';
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			height:1px;
			background-color:$color_brand;
			z-index:1;
		}
		&:focus{
			outline:none;
		}
		.btn{
			border-radius:0;
			padding:0;
			border:none;
			background: transparent;
			vertical-align: top;
			font-size:50px;
			line-height:80%;
			font-weight:500;
			text-transform:uppercase;
			@include max-screen(768px) {
				font-size:35px;
				line-height: 120%;
			}
			@include max-screen(480px) {
				font-size:25px;
				line-height: 120%;
			}
			// margin-top:-10px;
			&.focus, &:focus, &:hover{
				color:$white;
				outline:none;
			}
			&.active, &:active{
				box-shadow: none;
			}
			&.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus{
				outline:none;
			}
			.bs-caret{

			}
		}
		&.btn-group.open .dropdown-toggle{
			box-shadow:none;
		}
		.dropdown-menu{
			top:98%;
			min-width:102%;
			left: -1%;
			border-radius:3;
			border:solid 2px $color-brand;
			padding:0;
			margin:0;
			font-size:40px;
			&>li{
				&>a{
					color:$color-brand2;
					line-height:100%;
					padding-top:15px;
					padding-bottom:15px;
					&:focus,&:hover{
						color:$color-brand;
					}
				}
				&.disabled{
					a{
						color:rgba($color-text--disabled,.5);
						text-decoration: overline;
						position: relative;
						&:before{
							content:'';
							position:absolute;
							top:46%;
							height:4px;
							background:rgba($color-text--disabled,.5);
							left:0;
							right:0;
							margin:0 auto;
							width:90%;
						}
					}
				}
			}
			@include max-screen(840px) {
				font-size:20px;
			}
		}
		.dropdown-toggle{
			.bs-caret{
				.caret{
			    width: 16px;
    			height: 8px;
    			border:none;
					font-size: 25px;
					line-height: 8px;
					text-align: center;
    			&:before{
    				font-family:'FontAwesome';
    				content: '\f107';
    				color:$color-brand;
    			}
				}
			}
			&[aria-expanded="false"]{
				.filter-option{
					@include max-screen(480px) {
						text-align:center;
					}
					// color:$color-highlight;
				}
			}
		}
		&.open{
			.dropdown-toggle{
				.bs-caret{
					.caret{
	    			&:before{
	    				content: '\f106';
	    			}
					}
				}
			}
		}
	}
}


// -----------

// Mixins
@mixin cursor-disabled() {
	cursor: not-allowed;
}

@mixin box-sizing($fmt) {
	-webkit-box-sizing: $fmt;
		 -moz-box-sizing: $fmt;
					box-sizing: $fmt;
}

@mixin box-shadow($fmt) {
	-webkit-box-shadow: $fmt;
					box-shadow: $fmt;
}

@function fade($color, $amnt) {
	@if $amnt > 1 {
		$amnt: $amnt / 100; // convert to percentage if int
	}
	@return rgba($color, $amnt);
}

// Rules
select.bs-select-hidden,
select.selectpicker {
	display: none !important;
}

.bootstrap-select {
	width: 220px \0; /*IE9 and below*/

	// The selectpicker button
	> .dropdown-toggle {
		width: 100%;
		padding-right: 25px;
		z-index: 1;

		&.bs-placeholder,
		&.bs-placeholder:hover,
		&.bs-placeholder:focus,
		&.bs-placeholder:active { color: $input-color-placeholder; }
	}

	> select {
		position: absolute !important;
		bottom: 0;
		left: 50%;
		display: block !important;
		width: 0.5px !important;
		height: 100% !important;
		padding: 0 !important;
		opacity: 0 !important;
		border: none;

		&.mobile-device {
			top: 0;
			left: 0;
			display: block !important;
			width: 100% !important;
			z-index: 2;
		}
	}

	// Error display
	.has-error & .dropdown-toggle,
	.error & .dropdown-toggle {
		border-color: $color-red-error;
	}

	&.fit-width {
		width: auto !important;
	}

	// &:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	//   width: $width-default;
	// }

	// .dropdown-toggle:focus {
	// 	outline: thin dotted #333333 !important;
	// 	outline: 5px auto -webkit-focus-ring-color !important;
	// 	outline-offset: -2px;
	// }
}

.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none;

	&:not([class*="col-"]) {
		width: 100%;
	}

	&.input-group-btn {
		z-index: auto;

		&:not(:first-child):not(:last-child) {
			> .btn {
				border-radius: 0;
			}
		}
	}
}

// The selectpicker components
.bootstrap-select.btn-group {
	&:not(.input-group-btn),
	&[class*="col-"] {
		float: none;
		display: inline-block;
		margin-left: 0;
		height:45px;
		margin-top: -10px;
		@include max-screen(480px) {
			margin-top: 0px;
			height:30px;

		}
	}

	// Forces the pull to the right, if necessary
	&,
	&[class*="col-"],
	.row &[class*="col-"] {
		&.dropdown-menu-right {
			float: right;
		}
	}

	.form-inline &,
	.form-horizontal &,
	.form-group & {
		margin-bottom: 0;
	}

	.form-group-lg &.form-control,
	.form-group-sm &.form-control {
		padding: 0;
	}

	// Set the width of the live search (and any other form control within an inline form)
	// see https://github.com/silviomoreto/bootstrap-select/issues/685
	.form-inline & .form-control {
		width: 100%;
	}

	&.disabled,
	> .disabled {
		@include cursor-disabled();

		&:focus {
			outline: none !important;
		}
	}

	&.bs-container {
		position: absolute;
		height: 0 !important;
		padding: 0 !important;

		.dropdown-menu {
			z-index: $zindex-select-dropdown;
		}
	}

	// The selectpicker button
	.dropdown-toggle {
		.filter-option {
			display: inline-block;
			overflow: hidden;
			width: 100%;
			text-align: left;
		}

		.caret {
			position: absolute;
			top: 50%;
			right: 12px;
			margin-top: -2px;
			vertical-align: middle;
		}
	}

	&[class*="col-"] .dropdown-toggle {
		width: 100%;
	}

	// The selectpicker dropdown
	.dropdown-menu {
		min-width: 100%;
		@include box-sizing(border-box);

		&.inner {
			position: static;
			float: none;
			border: 0;
			padding: 0;
			margin: 0;
			border-radius: 0;
			box-shadow: none;
		}

		li {
			position: relative;

			&.active small {
				color: #fff;
			}

			&.disabled a {
				@include cursor-disabled();
			}

			a {
				cursor: pointer;
				user-select: none;

				&.opt {
					position: relative;
					padding-left: 2.25em;
				}

				span.check-mark {
					display: none;
				}

				span.text {
					display: inline-block;
				}
			}

			small {
				padding-left: 0.5em;
			}
		}

		.notify {
			position: absolute;
			bottom: 5px;
			width: 96%;
			margin: 0 2%;
			min-height: 26px;
			padding: 3px 5px;
			background: rgb(245, 245, 245);
			border: 1px solid rgb(227, 227, 227);
			@include box-shadow(inset 0 1px 1px fade(rgb(0, 0, 0), 5));
			pointer-events: none;
			opacity: 0.9;
			@include box-sizing(border-box);
		}
	}

	.no-results {
		padding: 3px;
		background: #f5f5f5;
		margin: 0 5px;
		white-space: nowrap;
	}

	&.fit-width .dropdown-toggle {
		.filter-option {
			position: static;
		}

		.caret {
			position: static;
			top: auto;
			margin-top: -1px;
		}
	}

	&.show-tick .dropdown-menu li {
		&.selected a span.check-mark {
			position: absolute;
			display: inline-block;
			right: 15px;
			margin-top: 5px;
		}

		a span.text {
			margin-right: 34px;
		}
	}
}

.bootstrap-select.show-menu-arrow {
	&.open > .dropdown-toggle {
		z-index: ($zindex-select-dropdown + 1);
	}

	.dropdown-toggle {
		&:before {
			content: '';
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 7px solid $color-grey-arrow;
			position: absolute;
			bottom: -4px;
			left: 9px;
			display: none;
		}

		&:after {
			content: '';
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 6px solid white;
			position: absolute;
			bottom: -4px;
			left: 10px;
			display: none;
		}
	}

	&.dropup .dropdown-toggle {
		&:before {
			bottom: auto;
			top: -3px;
			border-top: 7px solid $color-grey-arrow;
			border-bottom: 0;
		}

		&:after {
			bottom: auto;
			top: -3px;
			border-top: 6px solid white;
			border-bottom: 0;
		}
	}

	&.pull-right .dropdown-toggle {
		&:before {
			right: 12px;
			left: auto;
		}

		&:after {
			right: 13px;
			left: auto;
		}
	}

	&.open > .dropdown-toggle {
		&:before,
		&:after {
			display: block;
		}
	}
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
	padding: 4px 8px;
}

.bs-actionsbox {
	width: 100%;
	@include box-sizing(border-box);

	& .btn-group button {
		width: 50%;
	}
}

.bs-donebutton {
	float: left;
	width: 100%;
	@include box-sizing(border-box);

	& .btn-group button {
		width: 100%;
	}
}

.bs-searchbox {
	& + .bs-actionsbox {
		padding: 0 8px 4px;
	}

	& .form-control {
		margin-bottom: 0;
		width: 100%;
		float: none;
	}
}
