@include component('header') {
	position:fixed;
	@include max-screen(768px) {
		width:100%;
		z-index:1000;
	}
	@include element('link') {
		display:block;
		float: left;
		margin-left:12%;
		@include max-screen(768px) {
			float: none;
			margin:0 auto;
		}
	}
	@include element('brand') {
		padding-top:45px;
		display:block;
		@include max-screen(768px) {
			margin: 0 auto;
			padding-top:15px;
		}
		@include max-screen(480px) {
			width:90px;
		}
	}

}
