@include component('nav') {
	position: fixed;
	right:10px;
	width:auto;
	height:100px;
	top:40%;
	z-index:1000;
	@include element('items') {
		@include max-screen(768px) {
			text-align:center;
		}
	}
	@include element('item') {
		display:block;
		margin-bottom:24px;
		clear:both;
		overflow:hidden;
		&:last-child{
			margin-bottom:0;
		}
		@include max-screen(768px) {
			display:inline-block;
			margin:0;
		}
	}
	@include element('link') {
		color: $white;
		text-align:right;
		display:block;
		background-color: rgba($color_brand2,.25);
		padding:3px;
		border-radius:16px;
		// width:21px;
		height:21px;
		overflow:hidden;
		float: right;
		@include state('active') {
			// width:100px;
			.c-nav__text{
				float: left;
				display: inline-block;
				margin-right: 15px;
			}
			.c-nav__point{
				background-color:$white;
			}
		}
		@include state('complete') {
			.c-nav__point{
				background-color:$white;
			}
		}
		@include state('disabled') {
			&:hover{
				cursor:default;
				background-color:rgba($color_brand2,.25);
				.c-nav__point{
					background-color:#014283;
				}
				.c-nav__text{
					color:$white;
				}
			}
		}
		&:hover{
			background-color:$color-brand;
			.c-nav__point{
				background-color:$white;
			}
			.c-nav__text{
				color:$white;
			}
		}
	}
	@include element('point') {
		width:15px;
		height:15px;
		overflow:hidden;
		border-radius:15px;
		border:solid 1px $color_border-dark;
		float: right;
		background-color:#014283;
	}
	@include element('text') {
		display:none;
		text-align:right;
		font-family:$font_base;
		font-weight:bold;
		font-size: 12px;
		padding-left: 15px;
		line-height:15px;
		@include max-screen(768px) {
			display:none!important;
		}
	}
	@include max-screen(480px) {
		right:0;
		left:0;
		bottom:10px;
		top:inherit;
		width:100%;
		height:30px;
	}
}
