@include component('players') {
	// background-color: rgba(red, 0.4);
	width:100%;
	height:65%;
	position: absolute;
	z-index:100;
	@include element('player') {
		display:block;
		max-width:80px;
		position:relative;
		padding-bottom:30px;
		position:absolute;
		.is-active &{
		  animation-name: zoomIn;
			animation-duration: .5s;
			animation-fill-mode: both;
			animation-delay:1s;
		}
		&:before{
			content:'';
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			margin:0 auto;
			width:60px;
			height:12px;
			background-color:rgba(#183F9B, .7);
  		filter: blur(5px);
  		border-radius:100%;
		}
		@include max-screen(768px) {
			max-width:70px;
			padding-bottom:0;
		}
		@include max-screen(580px) {
			max-width:50px;
			padding-bottom:0;
		}
		@include max-screen(480px) {
			max-width:40px;
			padding-bottom:0;
		}
	}
	@include element('profile') {
		width:80px;
		height:80px;
		border-radius:100%;
		vertical-align:middle;
		background-color:$white;
		border: solid 6px $color_brand;
		overflow:hidden;
		.c-players__image{
			width:100%;
			margin:auto;
			height:auto;
		}
		@include state('back') {
			background:$color_brand;
			.fa{
				color:$white;
				font-size:35px;
				line-height:72px;
				vertical-align:middle;
				@include max-screen(480px) {
					line-height:38px;
					font-size:20px;
				}
			}
		}
		@include state('confirm') {
			border-color:$color-success;
		}
		@include state('rejected') {
			border-color:$color-rejected;
		}
		@include state('pending') {
			border-color:$color-pending;
		}
		@include max-screen(768px) {
			width:70px;
			height:70px;
		}
		@include max-screen(580px) {
			width:50px;
			height:50px;
			border-width:3px;
		}
		@include max-screen(480px) {
			width:40px;
			height:40px;
			border-width:3px;
		}
	}
	@include element('image') {
		@include modifier('default') {
			width:75%!important;
			margin-top:15%!important;
			@include max-screen(480px) {
				width:65%!important;
				margin-top:20%!important;
			}
		}
	}
	@include element('link') {
		display:block;
		width:100%;
		height:100%;
	}
}
