@include component('step') {
	position:relative;
	color:$white;
	min-height: 768px;
	&:after{
		content: '';
		position:absolute;
		top:0;
		left:0;
		z-index:-1;
		width:100%;
		height:100%;
		background-image:url('../img/pattern.png');
		opacity:0.3;
	}
	.container,.row,.col-xs-12{
		height:100%;
	}
	@include modifier('step1') {
		// background-color:red;
	}
	@include modifier('step2') {
		// background-color:blue;
	}
	@include modifier('step3') {
		// background-color:purple;
		.o-title{
			@include max-screen(480px) {
				text-align:center;
				width:100%;
			}
		}
	}@include max-screen(480px) {
		min-height: inherit;
	}
}
