@include component('summary') {
	max-width:480px;
	margin:0 auto 40px;
	@include max-screen(768px) {
		margin-top:0;
		margin-bottom:50px;
	}
	@include max-screen(768px) {
		margin-bottom:30px;

	}
	.is-active &{
	  animation-name: fadeIn;
		animation-duration: .5s;
		animation-fill-mode: both;
		animation-delay:1.3s;
	}
	@include element('info') {
		background:rgba($color-alert-bg,.8);
		padding:5px 0;
		width:70%;
		margin:0 auto;
		// border-radius:30% 30% 0 0;
		position:relative;
		&:before,&:after{
			content:'';
			position:absolute;
			bottom:0;
		}
		&:before{
			left:-23px;
			width: 0;
			height: 0;
			border-left: 11px solid transparent;
			border-top: 15px solid transparent;
			border-right: 12px solid rgba($color-alert-bg,.8);
			border-bottom: 12px solid rgba($color-alert-bg,.8);
		}
		&:after{
			right:-23px;
			width: 0;
			height: 0;
			border-right: 11px solid transparent;
			border-top: 15px solid transparent;
			border-left: 12px solid rgba($color-alert-bg,.8);
			border-bottom: 12px solid rgba($color-alert-bg,.8);
		}
	}
	@include element('text') {
		margin:0;
		font-size:12px;
		@include max-screen(480px) {
			font-size: 11px;
		}
	}
	@include element('header') {
		color:#001956;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #cdcdcd 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#cdcdcd 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ffffff 0%,#cdcdcd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
		overflow:hidden;
		display:block;
		width:100%;
		padding:6px 10px;
		border-radius:120px;
		font-family:$font-base;
		margin:0;
	}
	@include element('team') {
		display:inline-block;
		width:100%;
		width:45%;
	}
	@include element('team-name') {
		font-weight:bolder;
		font-size:17px;
		color:#001956;
		margin:0 10px;
		@include max-screen(480px) {
			font-size:14px;
		}
	}
	@include element('team-icon') {
		width: 24px;
		height: 24px;
		display:inline-block;
		border-radius:100%;
		overflow:hidden;
		border:solid 1px #E5E5E5;
		@include max-screen(480px) {
			width: 20px;
			height: 20px;
		}
	}
	@include element('vs') {
		display:inline-block;
		color:#8999C1;
		font-family:$font-highlight;
		font-size:17px;
		@include max-screen(480px) {
			font-size:14px;
		}
	}
	@include element('body') {
		background: -moz-linear-gradient(top,  rgba(9,49,132,0.7) 0%, rgba(50,104,178,0.7) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(9,49,132,0.7) 0%,rgba(50,104,178,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(9,49,132,0.7) 0%,rgba(50,104,178,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3093184', endColorstr='#b33268b2',GradientType=0 ); /* IE6-9 */
		display:inline-block;
		overflow:hidden;
		width:90%;
		margin:0 auto;
		padding:20px;
		border-radius:0 0 12px 12px;
	}
	@include element('player') {
		margin:0 0 30px 0;
		&:last-child{
			margin:0;
		}
		@include max-screen(480px) {
			margin-bottom:10px;
		}
	}
	@include element('player-name') {
		margin:0;
		padding:0;
		font-family:$font-base;
		font-size:19px;
		font-weight:400;
		line-height:100%;
		@include max-screen(480px) {
			font-size:15px;
		}
	}
	@include element('state') {
		font-size:12px;
		@include state('confirmed') {
		color:$color-success;
		}
		@include state('pending') {
		color:$color-pending;
		}
		@include state('rejected') {
		color:$color-rejected;
		}
	}
	@include element('link') {
		line-height:100%;
		margin-right:5px;
		i{
			vertical-align: middle;
			line-height:100%;
			font-weight:300;
			font-size:10px;
			color: rgba($white, .7);
		}
		&:hover{
			text-decoration:none;
			i{
				color:$color_brand;
			}
		}
	}
}
