@include component('ticket') {
	max-width:480px;
	margin:0 auto 30px;
	hr{
		opacity: .2;
	}
	@include element('header') {
		color:#001956;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #cdcdcd 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#cdcdcd 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ffffff 0%,#cdcdcd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
		overflow:hidden;
		display:block;
		width:100%;
		padding:6px 10px;
		border-radius:120px;
		display:block;
		z-index:1;
		position:relative;
		h2{
			color:#9B9B9B;
			font-family:$font-base;
			font-size:17px;
			font-weight:bold;
			text-transform:uppercase;
			margin:0;
		}
	}
	@include element('body') {
		background-color:rgba($color-bg-tikect,.8);
		display:block;
		z-index:-1;
		position:relative;
		overflow:hidden;
		width:100%;
		margin:-15px auto 0;
		padding:35px 20px 20px;
		border-radius:0 0 20px 20px;
		hr{
			margin:10px auto;
		}
	}
	@include element('def') {
		display:table;
		width:100%;
	}
	@include element('term') {
		display:table-cell;
		vertical-align:middle;
		text-align:left;
		font-size: 20px;
		color:$color_brand;
		@include max-screen(480px) {
			font-size:18px;
		}
	}
	@include element('value') {
		display:table-cell;
		font-size:24px;
		font-weight:bold;
		vertical-align:middle;
		text-align:right;
		@include max-screen(480px) {
			font-size:18px;
		}
		@include modifier('highlight') {
			color:$color-pending;
			font-size: 30px;
			@include max-screen(480px) {
				font-size:20px;
			}
		}
	}
	@include max-screen(480px) {
		width:90%;
		margin-bottom: 20px;
	}
}

