//- Navbar
nav.c-nav
	ul.c-nav__items
		li.c-nav__item
			a.c-nav__link.is-active(href="#step1" state="0")
				span.c-nav__text Partido
				span.c-nav__point
		li.c-nav__item
			a.c-nav__link.is-disabled(href="#step2" state="0")
				span.c-nav__text Equipos
				span.c-nav__point
		li.c-nav__item
			a.c-nav__link.is-disabled(href="#step3" state="0")
				span.c-nav__text pago
				span.c-nav__point
