extends layouts/default.jade

block content
	form.c-form(action="")
		section#step1.c-step.c-step--step1
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1.u-text-center
						.u-center
							.c-form__field
								h1.o-title Quiero jugar
									select#select_court.c-form__select
										option.c-form__option(value="null") Deporte
										option.c-form__option(value="padel") Padel
										option.c-form__option(value="racquetball") Racquetball
									br
									select.c-form__select.c-form__select--fixed_size
										option.c-form__option(value="hoy") Hoy
										option.c-form__option(value="manana") Mañana
										option.c-form__option(value="domingo") Domingo
									| , entre
									select.c-form__select
										option.c-form__option(value="hoy") XX : XX.
										option.c-form__option(value="tiempo1") 09:00 - 10:30
										option.c-form__option(value="tiempo2" disabled) 10:30 - 12:00
										option.c-form__option(value="tiempo3") 12:00 - 13:30

							button.o-button.o-button--primary(go="#step2")
								i.fa.fa-facebook
								| Hacer Reserva

							.col-xs-12.u-text-center
								.o-message.o-message--info
									.o-message__icon
										svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve")
											path(d="M50,23c-14.888,0-27,12.112-27,27s12.112,27,27,27s27-12.112,27-27S64.888,23,50,23z M50,73c-12.683,0-23-10.318-23-23  s10.317-23,23-23s23,10.318,23,23S62.683,73,50,73z")
											path(d="M51.946,48c0-1.104-0.896-2-2-2H45.5v4h2.446v12c0,1.104,0.896,2,2,2H54.5v-4h-2.554V48z")
											circle(cx="49.656" cy="39.606" r="3.156")
									span.o-message__text Requiere conectarse con tu cuenta de facebook.

		section#step2.c-step.c-step--step2
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1.u-text-center
						.u-center
							.c-form__field
								section.c-summary
									.c-summary__info
										p.c-summary__text
											strong 15 dic
											|  entre las
											strong 10:30 - 12:00
											|  am -
											strong  $4.500 clp
									header.c-summary__header
										.c-summary__team.u-text-left.u-pull-left
											span.c-summary__team-icon.u-pull-left(style="background:#0090FF")
											span.c-summary__team-name Equipo Cian
										span.c-summary__vs.u-text-cener vs
										.c-summary__team.u-text-right.u-pull-right
											span.c-summary__team-name Equipo Rojo
											span.c-summary__team-icon.u-pull-right(style="background:#E7084C")
									section.c-summary__body
										.c-summary__team.u-pull-left.u-text-left
											.c-summary__player
												h4.c-summary__player-name Santiago Yáñez
												small.c-summary__state.is-confirmed Confirmado
											.c-summary__player
												h4.c-summary__player-name Invitado
												small.c-summary__state.is-confirmed Confirmado
										.c-summary__team.u-pull-right.u-text-right
											.c-summary__player
												h4.c-summary__player-name Aldo Muñoz
												small.c-summary__state.is-pending Sin Confirmar
											.c-summary__player
												h4.c-summary__player-name
													a.c-summary__link(href="#")
														i.fa.fa-refresh
													|  Lorena ipsum
												small.c-summary__state.is-rejected No Asistira

								section.c-court
									.c-players
										a.c-players__player.flip-container(style="top:16%;right:15%;" href="#")
											.flipper
												.c-players__profile.is-confirm.is-front
													img.c-players__image.c-players__image--default(src="img/blue.svg")
												.c-players__profile.is-back
													i.fa.fa-facebook
										a.c-players__player.flip-container(style="top:-35%;right:35%;" href="#")
											.flipper
												.c-players__profile.is-rejected.is-front
													img.c-players__image.c-players__image--default(src="img/blue.svg")
												.c-players__profile.is-back
													i.fa.fa-facebook
										a.c-players__player.flip-container(style="top:-35%;left:35%;" href="#")
											.flipper
												.c-players__profile.is-pending.is-front
													img.c-players__image.c-players__image--default(src="img/blue.svg")
												.c-players__profile.is-back
													i.fa.fa-facebook
										a.c-players__player.flip-container(style="top:16%;left:15%;" href="#")
											.flipper
												.c-players__profile.is-front
													img.c-players__image.c-players__image--default(src="img/blue.svg")
												.c-players__profile.is-back
													i.fa.fa-facebook
									img.c-court__field(src="img/padel.svg")
									img.c-court__shadow(src="img/shadow.svg")

								button.o-button.o-button--primary(go="#step3") Confirmar Reserva

								.col-xs-12.u-text-center
									.o-message.o-message--info
										.o-message__icon
											svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve")
												path(d="M50,23c-14.888,0-27,12.112-27,27s12.112,27,27,27s27-12.112,27-27S64.888,23,50,23z M50,73c-12.683,0-23-10.318-23-23  s10.317-23,23-23s23,10.318,23,23S62.683,73,50,73z")
												path(d="M51.946,48c0-1.104-0.896-2-2-2H45.5v4h2.446v12c0,1.104,0.896,2,2,2H54.5v-4h-2.554V48z")
												circle(cx="49.656" cy="39.606" r="3.156")
										span.o-message__text si no invitas jugadores crearemos un partido por ti.

		section#step3.c-step.c-step--step3
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1.u-text-center
						.u-center
							.c-form__field
								h2.o-title.o-title--medium
									strong usuario
									| , tu hora ha sido
									br
									|	confirmada exitosamente
								section.c-ticket
									header.c-ticket__header
										h2 Ticket de reserva
									section.c-ticket__body
										dl.c-ticket__def
											dt.c-ticket__term Fecha
											dd.c-ticket__value 15 dic 2016
										dl.c-ticket__def
											dt.c-ticket__term Horario
											dd.c-ticket__value 10:30 - 12:00 am
										dl.c-ticket__def
											dt.c-ticket__term Invitados
											dd.c-ticket__value 3/4
										hr
										dl.c-ticket__def
											dt.c-ticket__term Costo
											dd.c-ticket__value.c-ticket__value--highlight $4.500 CLP.
								button.o-button.o-button--primary Pagar
								.col-xs-12
									img.u-webpay(src="img/webpay.png")
