@include object('button') {
	font-weight:bold;
	font-family:$font_base;
	font-size:24px;
	border-radius:3px;
	line-height:18px;
	padding:15px 30px;
	@include max-screen(480px) {
		font-size:20px;
		padding:10px 20px;
	}
	.fa{
		font-size:18px;
		line-height:18px;
		margin-right:15px;
	}
	@include modifier('primary') {
		background-color:$color_brand;
		color:$white;
		border:none;
		border-bottom:solid 1px rgba(#002C56, .7);
		border-right:solid 1px rgba(#002C56, .7);
		&:hover{
			background-color:$white;
			color:$color_brand;
		}
	}
}
