@include object('message') {
	margin:20px auto;
	display:inline-block;
	@include modifier('info') {
		border:solid 1px $color-alert-info;
		color:$white;
		background:rgba($color-alert-bg,.5);
		overflow:hidden;
		position:relative;
		border-radius:20px;
	}
	@include element('text') {
		display: inline-block;
		font-size:14px;
		color:$white;
		padding:5px 10px 7px 30px;
		@include max-screen(480px) {
			font-size:12px;
		}
	}
	@include element('icon') {
		width:30px;
		height: auto;
		overflow:hidden;
		display: inline-block;
		position:absolute;
		svg{
			fill:$color-alert-info;
			width: 100%;
		}
	}
}
