@include object('title') {
	color:$white;
	text-transform:uppercase;
	font-family: $font_base;
	font-weight:500;
	font-size:60px;
	text-align:center;
	@include max-screen(768px) {
		font-size:35px;
	}
	@include max-screen(480px) {
    font-size: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
	}
	@include modifier('medium') {
		font-size:50px;
		@include max-screen(768px) {
			font-size:30px;
			padding-top:70px;
		}
		@include max-screen(480px) {
			font-size:20px;
			padding-top:0;
		}
	}
}
