@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes glossMenu {
	from {
		height:0;
		opacity:0;
	}
	to {
		height:100%;
		opacity:1;
	}
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.flip-container {
  perspective: 1000;
  // margin: 30px auto;
  // border: 1px solid aqua;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .is-front, .is-back {
  width: 80px;
  // height: 80px;
  text-align: center;
  // line-height: 300px;
  // font-size: 20px;
  // border-radius: 15px;
}

.flipper {
	height:80px;
  transition: .6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: relative;
  @include max-screen(480px) {
  	height:60px;
  }
}

.is-front, .is-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.is-front {
  z-index: 2;
  background: green;
}

.is-back {
  transform: rotateY(180deg);
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes animate-width {
	from {
		width: 146px;
	}
	to {
		width: 300px;
	}
}
@keyframes animate-width2 {
	from {
		width: auto;
	}
	to {
		width: auto;
	}
}
