html {
	box-sizing: border-box;
	background-color:#173477;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size:$base_size;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	height:auto;
	position: relative;
	// &:after{
	// 	content: '';
	// 	position:absolute;
	// 	top:0;
	// 	left:0;
	// 	z-index:-1;
	// 	width:100%;
	// 	height:100%;
	// 	background-image:url('../img/pattern.png');
	// 	opacity:0.3;
	// }
}
body {
	font-family:$font_base;
	font-size:14px;
	color:$color_text;
	background-color:inherit;
	height:100%;
	overflow:hidden;
	position:relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before{
		content: '';
		background: #03a9f4; /* Old browsers */
		background: -moz-linear-gradient(top,  #03a9f4 25%, #173477 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #03a9f4 25%,#173477 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #03a9f4 25%,#173477 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a9f4', endColorstr='#173477',GradientType=0 ); /* IE6-9 */
		width: 100%;
		height:100%;
		z-index:-1;
		position:fixed;
	}
	@include max-screen(480px) {
		overflow:inherit;
		height:auto;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	// margin-bottom: .5rem;
}

p {
	margin-top: 0;
	// margin-bottom: 1rem;
}

ul, ol, dl {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

a,
button,
input,
select {
	transition-property: transform, background, background-color, border-color, color;
	transition-duration: $transition-duration;
}
button,select,option{outline:none!important;}
textarea {
	resize: vertical;
}

a {
	color:$color_text;
	text-decoration: none;
	&:hover{
		color:$color_brand;
		text-decoration: underline;
	}
	&:focus {
		outline:none;
	}
}

img {
	vertical-align: middle;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
	touch-action: manipulation;
}

[role="button"] {
	cursor: pointer;
}

[hidden] {
	display: none !important;
}

.js-getImage{
	position:relative;
}
.js-image{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat !important;
	overflow: hidden;
	@extend .u-cover;
	img{
		visibility: hidden;
	}
	&:hover{
		// animation-duration:5s;
		// animation-fill-mode: both;
		// animation-name: bgMove;
	}
}

.js-loaded{
  animation-name: fadeIn;
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-delay:0s;
	visibility: visible!important;
}


