@include utility('text-center') {
	text-align: center;
}
@include utility('text-left') {
  text-align: left;
}
@include utility('text-right') {
  text-align: right;
}
@include utility('pull-right') {
	float: right;
}
@include utility('pull-left') {
	float: left;
}
@include utility('hidden-xs') {
	@media only screen and (max-width : 768px) {
		display:none;
	}
}
@include utility('no-gutter') {
	@include no-gutter;
}
@include utility('vertical-center') {
  display: table-cell;
  vertical-align: middle;
}
@include utility('no-margin') {
	margin:0;
}
@include utility('mt-0') {
	margin-top:0;
}
@include utility('mt-10') {
	margin-top:10px;
}
@include utility('mt-15') {
	margin-top:15px;
}
@include utility('mt-20') {
	margin-top:20px;
}
@include utility('mt-30') {
	margin-top:30px;
}

@include utility('mb-0') {
	margin-bottom:0;
}

@include utility('mb-10') {
	margin-bottom:10px;
}

@include utility('mb-15') {
	margin-bottom:15px;
}

@include utility('mb-20') {
	margin-bottom:20px;
}
@include utility('mb-30') {
	margin-bottom:30px;
}
@include utility('mb-60') {
	margin-bottom:60px;
}

@include utility('mtb-0') {
	margin-top:0;
	margin-bottom:0;
}

@include utility('no-border') {
	border:none;
}
@include utility('cover') {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@include utility('center') {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: auto;
	margin-right:auto;
	left:0;
	right:0;

	@include max-screen(840px) {
		position:relative;
		top: inherit;
		transform: inherit;
		left:inherit;
		right:inherit;
		margin-top:200px;
    height: auto;
    overflow: hidden;
	}
	@include max-screen(480px) {
		margin-top: 120px;
	}
}

@include utility('relative') {
	position:relative;
}


@include utility('separate') {
	width:1px;
	height:100%;
	display:inline-block;
	min-height:26px;
	background-color:$color-brand;
	margin:0 15px;
}

@include utility('clearfix') {
	display:block;
	width:100%;
	clear:both;
}

@include utility('multicolumn') {
	-moz-column-width: 25em;
	-moz-column-gap: 45px;
	-webkit-column-width: 25em;
	-webkit-column-gap: 45px;
}

@include utility('webpay') {
	width:200px;
	height: auto;
	margin-top:40px;
	@include max-screen(480px) {
		margin-top: 10px;
		width:150px;
	}
}
