// Colors
$white:#FFF;
$black:#000;
$color_brand:#03A9F4; //cian
$color_brand2:#173477; //azul marino
$color_text:#03A9F4; //cian
$color_text--legal:#4990E2; //cian
$color_border:#00E2FF; //cian
$color_border-dark:#015193; //axul marino
$color-text--disabled:#9B9B9B;
$color-highlight:#00BCD4;
$color-alert-info:#F8E81C;
$color-alert-bg:#17377A;
$color-success:#0BC96E;
$color-pending:#FFC107;
$color-rejected:#F51244;
$color-bg-tikect:#17377A;
// $color_bg:;
// $color-header:;

// fonts
$base_size:14px;
$font_base:'Cairo', sans-serif;
$font_highlight:'Russo One', sans-serif;
$text_color1:$white;

// Common
$transition-duration: .3s !default;


// Select
$color-red-error: rgb(185, 74, 72) !default;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 220px !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: $white !default;
