include ../partials/_mixins.jade
//- Default Template
doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title #{pageTitle}
		// inject:css
		// endinject
	body(style="visibility: hidden;")
		include ../partials/_header.jade
		include ../partials/_nav.jade
		//- Content
		block content
		//- End of Content
		include ../partials/_footer.jade
		include ../partials/_scripts.jade

		link(href="https://fonts.googleapis.com/css?family=Cairo:300,400,700|Russo+One" rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet")
		link(href="css/main.min.css" rel="stylesheet")
		// inject:js
		// endinject
